body {
    background-color: #11101b;
}

.art {
    display: flex;
    width: 70%;
    margin: 0 15%;
    height: 400px;
}

.art img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: .5s ease;
}

section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

@media only screen and (max-width: 900px) {

    .art {
        display: flex;
        width: 70%;
        margin: 0 15%;
        height: 300px;
    }
}

.titular {
    width: 50%;
    margin: 2% 25%;
    margin-top: 80px;
}

.titular h1 {
    margin-top: 0px;
    width: auto;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    z-index: 3;
  }

.titular h1:hover {
    color: rgb(187, 255, 255);
    /* background-color: #11101b; */
    text-shadow: 0 0 30px aqua;
    text-decoration-line: #11101b;
    border-radius: 50px;
    font-weight: 800;
    /* backdrop-filter: blur(40px);
    backdrop-filter: invert(30%); */
}

